<<<<<<< HEAD
html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	text-align: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-image:url(background.png);
	background-repeat:repeat-x;
}

*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#cabecalho
{
background-image:url(tab.png);
background-repeat:no-repeat;
height:100px;
width:427px;
margin-left:42px;
margin-top:88px;
padding-top:18px;
}

#cabecalho .logo
{
height:72px;
width:72px;
background-image:url(logo1.png);
background-repeat:no-repeat;
float:left;
margin-left:23px;
}

#cabecalho h1
{
margin-left:15px;
margin-top:10px;
position: relative;
float:left;
color:#3D4130;
text-align:left;
font-size:34px;
width:302px;
line-height:normal;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}

#cabecalho h2
{
position: relative;
margin-left:10px;
margin-top:2px;
float:left;
color:#CCCF76;
text-align:left;
font-size:14px;
width:311px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}

#site
{
clear:both;
position:relative;
height:100%;
margin-top:73px;
margin-left:50px;
width:1250px;
}

#site .navColumn
{
margin-left:0px;
width:419px;
background-image:url(repeatBackNavAlpha.png);
background-repeat:repeat-y;
float:left;
}

#site .navColumn .visao-geral
{
width:350px;
padding:5px;
background-color:#F9FAF5;
border:dashed 2px;
border-color:#EAECC7;
margin-top:10px;
}

#site .navColumn .link
{
width:369px;
height:65px;
line-height:65px;
font:Arial, Helvetica, sans-serif;
font-size:20px;
background-image:url(arrow_link_background.png);
background-repeat:no-repeat;
padding-left:50px;
}

#site .navColumn .link:hover
{
background-image:url(rollover_back65.png);
background-repeat:no-repeat;
}

a
{
color:#777B2B;
text-decoration:none;
}

a:hover
{
color:#CACE73;
text-decoration:none;
border-bottom:dotted 1px;
}

#site .conteudo
{
float:left;
margin-left:0px;
width:550px;
}

.contentTop
{
width:519px;
height:29px;
background-repeat:no-repeat;
background-image:url(contentBoxTop.png);
}

.contentBottom
{
width:519px;
height:29px;
background-repeat:no-repeat;
background-image:url(contentBoxBottom.png);
margin-bottom:15px;
}


.contentMain
{
width:489px;
height:auto;
background-repeat:no-repeat;
background-image:url(contentBoxBack.png);
background-repeat:repeat-y;
padding-left:18px;
padding-right:12px;
}

.contentMain h1
{
margin-left:21px;
font-size:21px;
line-height:normal;
margin-bottom:10px;
font-weight:bold;
color:#071027;
}

#site #navBottom{
clear:both;
width:419px;
height:20px;
background-image:url(tab_bottom.png);
background-repeat:no-repeat;
float:left;
}

.contentTitle
{
width:700px;
height:44px;
margin-top:20px;
margin-left:25px;
margin-right:25px;
background-image:url(tab_back.png);
background-repeat:no-repeat;
}

.contentTitle h1
{
margin-left:21px;
padding-top:8px;
font-size:17px;
font-weight:bold;
color:#071027;
}

.contentText
{
width:680px;
padding-left:30px;
padding-right:30px;
font-size:13px;
color:#030712;
line-height:30px;
}

h4
{
color:#777B2B;
font-size:9px;
text-align:center;
}

html, body {
text-align: center;
}
p {text-align: left;}






.rodape {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
}


.rodape2{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.rodape2 .logo{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.rodape2 .copyrights{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.rodape2 .links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.rodape2 .links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

/* Animação */

[data-anime]{
  opacity:0;
  transition:.3s;
}

[data-anime="left"]{
  transform:translate3d(-50px, 0, 0);
}

[data-anime="right"]{
  transform:translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
=======
html, body {
text-align: center;
}
p {text-align: left;}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	text-align: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #000000;
	background-image:url(background.png);
	background-repeat:repeat-x;
}

*
{
  margin: 0 auto 0 auto;
 text-align:left;}

#cabecalho
{
background-image:url(tab.png);
background-repeat:no-repeat;
height:100px;
width:427px;
margin-left:42px;
margin-top:88px;
padding-top:18px;
}

#cabecalho .logo
{
height:72px;
width:72px;
background-image:url(logo1.png);
background-repeat:no-repeat;
float:left;
margin-left:23px;
}

#cabecalho h1
{
margin-left:15px;
margin-top:10px;
position: relative;
float:left;
color:#3D4130;
text-align:left;
font-size:34px;
width:302px;
line-height:normal;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}

#cabecalho h2
{
position: relative;
margin-left:10px;
margin-top:2px;
float:left;
color:#CCCF76;
text-align:left;
font-size:14px;
width:311px;
font-weight:bold;
font-family:Arial, Helvetica, sans-serif;
}

#site
{
clear:both;
position:relative;
height:100%;
margin-top:73px;
margin-left:50px;
width:1250px;
}

#site .navColumn
{
margin-left:0px;
width:419px;
background-image:url(repeatBackNavAlpha.png);
background-repeat:repeat-y;
float:left;
}

#site .navColumn .visao-geral
{
width:350px;
padding:5px;
background-color:#F9FAF5;
border:dashed 2px;
border-color:#EAECC7;
margin-top:10px;
}

#site .navColumn .link
{
width:369px;
height:65px;
line-height:65px;
font:Arial, Helvetica, sans-serif;
font-size:20px;
background-image:url(arrow_link_background.png);
background-repeat:no-repeat;
padding-left:50px;
}

#site .navColumn .link:hover
{
background-image:url(rollover_back65.png);
background-repeat:no-repeat;
}

a
{
color:#777B2B;
text-decoration:none;
}

a:hover
{
color:#CACE73;
text-decoration:none;
border-bottom:dotted 1px;
}

#site .conteudo
{
float:left;
margin-left:0px;
width:550px;
}

.contentTop
{
width:519px;
height:29px;
background-repeat:no-repeat;
background-image:url(contentBoxTop.png);
}

.contentBottom
{
width:519px;
height:29px;
background-repeat:no-repeat;
background-image:url(contentBoxBottom.png);
margin-bottom:15px;
}


.contentMain
{
width:489px;
height:auto;
background-repeat:no-repeat;
background-image:url(contentBoxBack.png);
background-repeat:repeat-y;
padding-left:18px;
padding-right:12px;
}

.contentMain h1
{
margin-left:21px;
font-size:21px;
line-height:normal;
margin-bottom:10px;
font-weight:bold;
color:#071027;
}

#site #navBottom{
clear:both;
width:419px;
height:20px;
background-image:url(tab_bottom.png);
background-repeat:no-repeat;
float:left;
}

.contentTitle
{
width:700px;
height:44px;
margin-top:20px;
margin-left:25px;
margin-right:25px;
background-image:url(tab_back.png);
background-repeat:no-repeat;
}

.contentTitle h1
{
margin-left:21px;
padding-top:8px;
font-size:17px;
font-weight:bold;
color:#071027;
}

.contentText
{
width:680px;
padding-left:30px;
padding-right:30px;
font-size:13px;
color:#030712;
line-height:30px;
}

h4
{
color:#777B2B;
font-size:9px;
text-align:center;
}

html, body {
text-align: center;
}
p {text-align: left;}






.rodape {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #ffffff;
}


.rodape2{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	font: normal 18px sans-serif;

	padding: 45px;
	margin-top: 80px;
}

.rodape2 .logo{
	color:  #8d9093;
	font-size: 24px;
	margin: 0;
}

.rodape2 .copyrights{
	color:  #8f9296;
	font-size: 14px;
	margin: 0;
}

.rodape2 .links{
	list-style: none;
	font-weight: bold;
	color:  #ffffff;
	padding: 35px 0 23px;
	margin: 0;
}

.rodape2 .links a{
	display:inline-block;
	text-decoration: none;
	color: inherit;
}

footer{
	position: fixed;
	bottom: 0;
}

@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

/* Animação */

[data-anime]{
  opacity:0;
  transition:.3s;
}

[data-anime="left"]{
  transform:translate3d(-50px, 0, 0);
}

[data-anime="right"]{
  transform:translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}
>>>>>>> 22db3b5054ab695634aaafd5aaa8747caf0743f1
